html {
  font-size: 14px;
}
body {
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}
h1 {
  font-size: 20px;
  margin: 1rem 1rem 0;
  color: #000000;
}
.tab {
  border: 1px solid #999;
  margin: 2rem 1rem 1rem;
  line-height: 1.5;
  position: relative;
}
.tabtitle {
  border: 1px solid transparent;
  border-color: inherit;
  background-color: inherit;
  position: absolute;
  top: -0.8rem;
  left: 1rem;
  min-width: 7rem;
  padding: 0 0.5rem;
  text-align: center;
  font-size: 1rem;
  z-index: 9999;
  line-height: 1.4rem;
}
.player {
  margin: 0;
  padding: 0 0.5rem;
  padding-left: 10.5rem;
  border-bottom: 1px dotted transparent;
  border-color: inherit;
  position: relative;
}
.player:last-child {
  border-bottom: 0;
}
.player b {
  display: block;
  height: 100%;
  width: 9rem;
  padding: 0 0.5rem;
  border-right: 1px solid transparent;
  border-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabtitle + .player {
  padding-top: 0.7rem;
}
.tabtitle + .player b {
  padding-top: 0.7rem;
  height: calc(100% - 0.7rem);
}
.diceroll {
  padding: 0 0.5em;
  color: #ffffff;
}

/* [メイン] タブ */
.t0 {
  background-color: #ffffff;
  border-color: #999999;
  color: #000000;
}

/* [秘匿(みすみ,卍)] タブ */
.t1 {
  background-color: #fadce9;
  border-color: #999999;
  color: #000000;
}

/* [秘匿(卍,麺面@E..)] タブ */
.t2 {
  background-color: #d3def1;
  border-color: #999999;
  color: #000000;
}

/* 発言者：   */
.p0 {
  color: #888888;
}
.p0 .diceroll {
  background-color: #888888;
}

/* 発言者：桐生さつき */
.p1 {
  color: #ff5722;
}
.p1 .diceroll {
  background-color: #ff5722;
}

/* 発言者：noname */
.p2 {
  color: #888888;
}
.p2 .diceroll {
  background-color: #888888;
}

/* 発言者：万智 心詞 */
.p3 {
  color: #ff9800;
}
.p3 .diceroll {
  background-color: #ff9800;
}

/* 発言者：system */
.p4 {
  color: #888888;
}
.p4 .diceroll {
  background-color: #888888;
}

/* 発言者：田代 */
.p5 {
  color: #888888;
}
.p5 .diceroll {
  background-color: #888888;
}

/* 発言者：目坂 */
.p6 {
  color: #888888;
}
.p6 .diceroll {
  background-color: #888888;
}
