nav {
  background-color: #1d1a22;
  box-shadow: 0 0 10px rgba(64, 56, 74, 0.5);
  .navbar-nav {
    margin-bottom: 0.25rem;
  }
  .navbar-toggler {
    border: 0;
    // メニュー展開時
    //     &>span{
    // &:nth-child(1){

    // }
    // }

    // &.collapsed {
    //   // 初期状態
    //   border: 0;
    //   & > span {
    //     display: block;
    //     background-color: white;
    //     width: 35px;
    //     height: 2px;
    //     margin-bottom: 9px;
    //     transition: transform 0.3s;
    //     &:last-child {
    //       margin-bottom: 0;
    //     }
    //   }
    // }
  }
  .navbar-collapse {
    transition: all 0.2s cubic-bezier(0, 0, 0.34, 1.01);
  }

  .dropdown-toggle:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  /* dropdown animation 
    https://www.webdevqa.jp.net/ja/javascript/bootstrap%E3%83%89%E3%83%AD%E3%83%83%E3%83%97%E3%83%80%E3%82%A6%E3%83%B3%E3%81%B8%E3%81%AE%E3%82%B9%E3%83%A9%E3%82%A4%E3%83%89%E5%8A%B9%E6%9E%9C%E3%81%AE%E8%BF%BD%E5%8A%A0/1067754357/
    */
  .dropdown-menu {
    margin: 0;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    padding: 0;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    &.show {
      padding: 0.5rem 0;
      max-height: 300px;
      opacity: 1;
    }
  }
}

button:focus {
  box-shadow: none !important;
  outline: dotted 1px;
}

main {
  width: 80%;
  max-width: 780px;
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
}

.tabtitle + .player b {
  height: 100% !important;
}
.tabtitle {
  z-index: 10 !important;
}

@media screen and (max-width: 580px) {
  main {
    width: auto !important;
  }
  .player {
    padding-left: 5.5rem;
  }
  .player b {
    width: 5rem;
  }
}
